
#download {
  margin-top: 5em;
  
  .card {
    padding: 4.8rem 2.4rem 31rem;
    position: relative;

    & > img {
      width: 30rem;
      position: absolute;
      bottom: -4.8rem;
      right: -5.8rem;
    }
  }

  .buttons {
    flex-wrap: wrap;
    margin-top: 3.2rem;
  }

  @media (width >= 80em) {

    .card {
      padding: 13.3rem 8rem;

      & > div:nth-child(1) {
        max-width: 64rem;
      }

      & > img {
        width: 46rem;
        bottom: -7.4rem;
      }
    }
  }
 
}