* {
  margin: 0;
  padding: 0;

  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Produto colors */
  --brand-color-primary: #F7B733;
  --brand-color-secondary: #FC4A1A;

  /* Base colors */
  --bg-color: #09090B;
  --surface-color: #18181B;
  --stroke-color: #27272A;
  --text-color-primary: #F4F4F5;
  --text-color-secondary: #A1A1AA;


  /* Fonts */
  --ff-sans: "Inter", system-ui, sans-serif;
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 1.4rem;
  --fs-base: 1.6rem;
  --fs-md: 2rem;
  --fs-lg: 2.4rem;
  --fs-xl: 4rem;

  --py-base: 1.6rem;
  --py-lg: 2.4rem;
  --py-xl: 4.8rem;

  --px-lg: 2.4rem;

}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-primary);

  overflow-x: hidden;
}

body {
  font-size: 1.6rem;

  background-color: var(--bg-color);
}

h1, h2, h3 {
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-lg);
}

h3 {
  font-size: var(--fs-md);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  background: linear-gradient(
    90deg,
    var(--brand-color-secondary) 0%,
    var(--brand-color-primary) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

ul[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

@media (width >= 80em) {
  :root {
    --fs-md: 3.2rem;
    --fs-lg: 2.4rem;
    --fs-xl: 6.4rem;

    --py-base: 2.4rem;
    --py-lg: 4rem;
    --py-xl: 8rem;

    --px-lg: 3.2rem;
  }
}